@tailwind base;
@tailwind components;
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}
@tailwind utilities;

/* Custom styles for the toolbar */
.custom-toolbar-class {
  background-color: #d53e3e !important;
  border: 1px solid #ccc !important;
}

/* Custom styles for the toolbar buttons */
.custom-toolbar-class .rdw-option-wrapper {
  margin-right: 8px;
}

/* Custom styles for the wrapper */
.custom-wrapper-class {
  border: 1px solid #ccc;
  margin-top: 10px;
}

/* Custom styles for the editor content */
.custom-editor-class {
  border-top: 1px solid #ccc;
  padding: 10px;
  min-height: 200px;
}
.custom-image-class {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
}
